<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./img/tym.jpg" id="icon-web">
    </head>
<body>
    <% include include/header%>
	<div class="container">
        <h1>Weather App</h1>
        <div class="content-inf">
            <div class="inf-weather"></div>
            <div class="rdo-temp">
                <input type="radio" name="temp-style" value="0" id="tempC" checked>
                <label for="tempC">Độ C</label>
                <input type="radio" name="temp-style" value="1" id="tempF">
                <label for="tempF">Độ F</label>
            </div> 
            <div id="frm-weather">
            <form>
                <input type="text" placeholder="location" id="location">
                <select name="lang" id="language">
                    <option value="vi">Tiếng việt</option>
                    <option value="en">English</option>
                </select>
                <button id="btn-submit">Search</button>
            </form>
            </div>
            
        </div>
    </div>
    <% include include/footer%>
    <script src="./js/main.js"></script>
    <script src="./js/frm.js"></script>
</body>
</html>